{{define "footer"}}</main>{{range $js := .JsExternal}}
<script src="/js/{{$js}}.js"></script>{{end}}
<script>
    let notification = document.querySelector('.notification');
    if (notification) {
        setTimeout(() => {
            notification.hidden = true;
        }, 3000);
    }
</script>
</body>
</html>{{end}}